.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 10px -2px #000;
    margin-bottom: 1px;
    background: white;
}
/* .nav-logo{
    width:200px
} */

@media(max-width:800px)
{
    .navbar{
        padding:15px 30px;
    }
    .nav-logo{
        width:50px
    }
    .nav-profile{
        width:30px;
        height: 50px;
    }
}